/* d'abord regles pour tous les ecrans */
h1 { color:green;
   text-decoration:underline; }
#enteteQueJaime { background-color :
                    lightblue;}
#piedPage { background-color : orange;}
.erreur { color: red; 
       font-style:italic}
body   { background-color: #fafc88; }
label { display:inline-block; width:6em;}
input,select ,textarea{ display:inline-block;
                 width:18em;}
input[type="radio"],input[type="checkbox"] 
{ display:inline-block;  width:1em;}
a:hover { color:red;}


/* ensuite nouvelles regles pour taille > 600ps de large) */
@media screen and (min-width : 600px){
   body { background-color : #f4b6a6}
   label { font-size: 12pt;}
}

/* ensuite nouvelles regles pour taille < 600ps de large) */
@media screen and (max-width : 600px){
   body { background-color : #f0f296}
   label { font-size: 8pt;}
}